# Example environment variables for SmotrimHub

# The URL of the source stream live website
SOURCE_URL=https://streamlive.freedev.app

# The interval in days for archiving channels and adding new ones
# For example, 30 means every 30 days.
SAVE_INTERVAL_DAYS=30
